.text1{
  position: absolute;
  color:white;
  font-size:50px;
  margin:300px;
  left: 100px;
  font-family: "Arial Black";
}
.text2{
  color:white;
  margin:400px;
  left: 580px;
  font-size: 30px;
}

