<html>
<!-- Title of the page/asset -->
<head><title>Internationale</title></head>
<!-- Title of the page/asset -->

<body>
<h4><a href="/communism"><strong>Go Back</strong><</a></h4>

<table class="infobox"><caption class="infobox-title infobox-anthem-caption"><!-- Title of the asset -->"The Internationale"<!-- Title of the asset --></caption><tbody><tr><td colspan="2" class="infobox-image">

<!-- Image Representing the asset -->
<img style="display: block; margin-left: auto; margin-right: auto;"src="//upload.wikimedia.org/wikipedia/commons/thumb/c/ce/L%27Internationale.jpg/220px-L%27Internationale.jpg" decoding="async" width="220" height="356" data-file-width="428" data-file-height="692">
<!-- Image Representing the asset -->

<!-- Quick description of the asset -->
</a><div style="text-align: center;" class="infobox-caption"><!-- Description of the image -->"L'Internationale", original French version</div></td></tr><tr style="font-weight:bold;"><td colspan="2" class="infobox-full-data">

<hr>International anthem of <a href="#" title="Anarchism">anarchists</a>, <a href="#" title="Communism">communists</a>, and <a href="#" title="Socialism">socialists</a>
<!-- Quick description of the asset -->

<!-- About the asset -->
<hr></td></tr><tr><th scope="row" class="infobox-label"><span class="nowrap">Also known as</span></th><td class="infobox-data"><span title="French-language text"><span lang="fr" style="font-style: normal;">L'Internationale</span></span> (French)</td></tr><tr><th scope="row" class="infobox-label">Lyrics</th><td class="infobox-data"><a href="#" title="Eugène Edine Pottier">Eugène Pottier</a>, 1871</td></tr><tr><th scope="row" class="infobox-label">Music</th><td class="infobox-data"><a href="#" title="Pierre De Geyter">Pierre De Geyter</a>, 1888</td></tr><tr><td colspan="2" class="infobox-full-data">

<!-- Sample -->
<link rel="mw-deduplicated-inline-style" href="#"></td></tr><tr><th colspan="2" class="infobox-header" style="background:  #E6E8FA">Audio sample</th></tr><tr class="haudio"><td colspan="2" class="infobox-full-data" style="padding-top:1em">
  <div style="display:inline-block;">


<audio controls loop > <!-- Cool music -->
<source src="https://upload.wikimedia.org/wikipedia/en/transcoded/7/73/The_International_Instrumental_Long.ogg/The_International_Instrumental_Long.ogg.mp3" type="audio/mp3"</audio>

</div>
</body>
</html>