<html>
  <head>
    <title>STONKLAT</title>
  </head>
  <body>
    <h1 style="text-align: center;"><strong>Website work in progress!</strong></h1>
    <h2 style="text-align: center;"><strong>Soon there wil be some cool things here!</strong></h2>
    <h3><span style="text-decoration: underline;">Some useful links:</span></h3>
    <p><span style="text-decoration: underline;"><a href="/rock" target="_blank">Rock Johnson vs Commander brown</a></span></p>
    <p><span style="text-decoration: underline;"><a href="/bot"">Discord Bots</a></span></p>
    <p><span style="text-decoration: underline;"><a href="https://replit.com/@stonklat" target="_blank">My Replit</a></span></p>
    <p><span style="text-decoration: underline;"><a href="/communism"">archive</a></span></p>
    <p><strong>&nbsp;</strong></p>
  </body>
</html>